ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.box {
    width: 700px;
    border: 1px solid black;
}

.f {
    display: block;
    width: 200px;
    margin: 20px auto;
}

.f input[type="text"] {
    border: 1;
    display: block;
    margin: 20px auto;
    padding: 10px 50px;
}

.f input[type="submit"] {
    display: block;
    border: 1;
    text-align: center;
    margin: 10px auto;
    padding: 10px 100px;
}

.f #mess {
    padding: 60px 50px;
}

.box2 {
    width: 600px;
    text-align: center;
    border: 1px solid black;
}