a{
    text-decoration: none;
}

/* .sub-menu{
    display: none;
}

.a li:hover .sub-menu{
    display: block;
} */




.form{
    width: 50px;
    display: block;
    text-decoration: none;
}

.btn{
    float: left;
    width: 50px;
    height: 50px;
}

.btn a:hover .form{
    display: block;
}
