.header, .head{
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
}
.head{
    height: 40px;
    margin-top: 80px;
}

.list-group-item{
    font-size: 80%;
    padding: 8px;
    width:200px
}

#carouselExampleControls .carousel-inner{
    
}
